body{
    background-color:#D9AFD9;
    backgroud-image:linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}
    
header{
    display:flex; 
    justify-content:center;
}

<.nav-lista{
    display:flex; 
    list-style: none; 
    font-size: 40px; 
    gap: 28px; 
    text-transform: uppercase;
    justify-content: center;
}
.nav-item
</html>

h2{
    margin-inline-start:40px;
}

ul{
    list-style:none;
}
    
navLista{
    display:flex; 
    list-style:none; 
    font-size:30px; gap:28px; 
    color:yellow; 
    text-transform:uppercase;
}

navLista a:hover{
    color:pink;
}
    
navItem:hover{
    background-color:rgb(255,255,255); 
    cursor:pointer; 
    color:pink; 
    border-radius:10px;
}
    
secao{
    width:100%;
}
    
secao ul{
    display:flex; 
    gap:1vw; padding-left:0%; 
    padding-top:5px; 
    padding-bottom:5px;
}
    
secao ul li{
    transition:200ms; 
    margin-bottom:0%; 
    border-radius:5px;
}
    
secao ul li:hover{
    border:1px solid white;
}
    
titulo_section{
    font-size:5mm; 
    font-family:
}
    
moldura_vídeos{
    flex-wrap; 
    justify-content:space-around;
}
